<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/home.css">
        <title>Document</title>
        <script src="/js/index.js"></script>
    </head>

    <body>
        <div class="homepage">
            <h1 id="homepage-text">Welcome to College App</h1>
        </div>
        <!-- FOOTER -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>Find Us</h4>
                        <ul>
                            <li>
                                <h5 class="h5 text-white">Main Campus</h5>
                                <p class="small text-muted">188, Raja S.C. Mallick Rd, Kolkata - 700032.</p>
                            </li>
                            <li>
                                <h5 class="h5 text-white">Salt Lake Campus</h5>
                                <p class="small text-muted">Plot No.8, Salt Lake Bypass, LB Block, Sector III, Salt Lake City, Kolkata - 700106.</p>
                            </li>
                            <li>
                                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a
                                    class="text-primary" href="http://www.jaduniv.edu.in/">
                                    http://www.jaduniv.edu.in/ </a> </p>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Contact Us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
