<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/notice.css">
    </head>

    <body>
        <div class="container">
            <div class="card text-center bg-light border-secondary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Title...</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos reprehenderit cum
                        suscipit laudantium
                        rerum recusandae, quos, saepe natus eum distinctio mollitia illo, esse exercitationem aliquid
                        itaque
                        culpa dolorum? Vero, ipsam!</p>
                    <a href="#" class="more">Read more...</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <div class="card text-center bg-light border-secondary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Title...</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos reprehenderit cum
                        suscipit laudantium
                        rerum recusandae, quos, saepe natus eum distinctio mollitia illo, esse exercitationem aliquid
                        itaque
                        culpa dolorum? Vero, ipsam!</p>
                    <a href="#" class="more">Read more...</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </body>

    </html>