body{
    background-color: #dfffcf;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}
.navbar{
    background-color: #434d3f!important;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}

.nav-left{
    margin: 0px 20px;
}

.nav-link{
    font-size: 20px;
    letter-spacing: 3px;
}

#mySelect{
    position: absolute;
    top: 60px;
    height: 35px;
    width: 210px;
    border-radius: 5px;
}
