body{
    background-color: #dfffcf;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}
.container {
    margin-top: 40px;
}

.card{
    opacity: 80%;
}

.more{
    text-decoration: none;
    color: rgb(64, 66, 66);
    margin-left: 75%;
}

.card{
    margin: 90px 0px;
}